.main {
  text-align: center;
  vertical-align: center;
  height: 100vh;
  padding: 10%;
  position: relative;
}
.footer{
  position:fixed;
  bottom: 0;
  background:black;
  padding: 5px;
}
.footer a:hover{
  color:white;
}