.main {
  text-align: center;
  vertical-align: center;
  height: 100vh;
  margin: 10%;
}
.footer{
  position:absolute;
  bottom: 0;
  background:black;
  padding: 5px;
}
.footer a:hover{
  color:white;
}